extends ../../layouts/default
include ../../mixins/formatDateTime.pug

block styles
  link(rel="stylesheet" href="/admin/css/detail.css")

block main
  if (role.permissions.includes("users_view"))
    .card.card-custom
      .card-header.card-header-custom.d-flex.justify-content-between.align-items-center
        h5(class="mb-0") Chi tiết người dùng
        a(class="btn btn-back btn-sm" href=`${prefixAdmin}/users`)
          i(class="bi bi-arrow-left mr-1")
          span Quay lại

      .card-body
        // --- Tên người dùng
        h2(class="font-weight-bold mb-3" style="color:#1b2a49") #{user.fullName}

        // --- Thông tin cơ bản
        h6.section-title.mt-3.mb-3 Thông tin cơ bản
        .row
          .col-md-6
            p
              span.info-label.me-2 Email:
              |  #{user.email}
            p
              span.info-label.me-2 Số điện thoại:
              |  #{user.phone || '—'}
          .col-md-6
            p
              span.info-label.me-2 Địa chỉ: 
              |  #{user.address || '—'}
            p
              span.info-label.me-2 Trạng thái: 
              if user.status === 'active'
                span.badge.badge-success.ms-1 Hoạt động
              else
                span.badge.badge-danger.ms-1 Ngừng hoạt động
          .col-md-6
            p 
              span.info-label.me-2 Số đơn hàng đã đặt: 
              |  #{orders.length}
        hr

        // --- Thông tin tạo & cập nhật
        h6.section-title.mt-3.mb-3 Thông tin hệ thống
        .row
          .col-md-6
              span.info-label Ngày tạo: 
              +formatDateTime(user.createdAt)
          .col-md-6
              span.info-label Cập nhật gần nhất:
              +formatDateTime(updatedAt)
