extends ../../layouts/default
block styles
  link(rel="stylesheet", href="/admin/css/edit.css")

block main
  if (role.permissions.includes("cover-types_edit"))
    .card
      .card-header.d-flex.justify-content-between.align-items-center
        h5.mb-0 Chỉnh sửa loại bìa

      .card-body
        form(
          id="form-cover-type"
          action=`${prefixAdmin}/cover-types/edit/${record._id}?_method=PATCH`
          method="POST"
        )

          // --- Tên loại bìa ---
          .form-group
            label(for="title") Tên loại bìa
            input#title.form-control(
              type="text"
              name="title"
              placeholder="Nhập tên loại bìa"
              required
              value=record.title
            )

          // --- Mô tả ---
          .form-group
            label(for="description") Mô tả
            textarea#description.form-control(
              name="description"
              rows="3"
              placeholder="Nhập mô tả về loại bìa (nếu có)"
            )= record.description

          button.btn.btn-primary.mt-3(type="submit")
            | Cập nhật

  //- block scripts
  //- script(type="application/javascript" src="https://cdn.tiny.cloud/1/0bzmmjbf9dmxhanhkzanji4a4lqzirecteyi89dup2z4hgmj/tinymce/6/tinymce.min.js" referrerpolicy="origin")
