extends ../../layouts/default
include ../../mixins/alert.pug
block styles
  link(rel="stylesheet" href="/admin/css/create.css")

block main
  +alert-success(5000)
  +alert-error(5000)
  if(role.permissions.includes("roles_create"))
    .card
      .card-header.d-flex.justify-content-between.align-items-center
        h5.mb-0 Thêm nhóm quyền mới

      .card-body
        form(
          id="form-role"
          action=`${prefixAdmin}/roles/create`
          method="POST"
        )

          // --- Tên nhóm quyền ---
          .form-group
            label(for="title") Tên nhóm quyền
            input#title.form-control(
              type="text"
              name="title"
              placeholder="Nhập tên nhóm quyền"
              required
            )

          // --- Mô tả ngắn ---
          .form-group
            label(for="description") Mô tả ngắn
            input#description.form-control(
              type="text"
              name="description"
              placeholder="Nhập mô tả ngắn về nhóm quyền (nếu có)"
            )

          // --- Nút hành động ---
          button.btn.btn-primary.mt-3(type="submit")
            | Thêm mới

