extends ../../layouts/default
include ../../mixins/pagination.pug
include ../../mixins/search.pug

block main
  .card
    .card-header.d-flex.justify-content-between.align-items-center
      h5.mb-0 Danh sách danh mục

      .d-flex.align-items-center
        a(href=`${prefixAdmin}/products/create` class="btn btn-primary mr-2") + Thêm danh mục
          
        form.d-flex.align-items-center(
          action=`${prefixAdmin}/products/change-multi?_method=PATCH&page=${pagination.currentPage}`
          method="POST"
          form-change-multi
        )
          select.form-control.w-auto.mr-2(name="type")
            option(value="") -- Thao tác --
            option(value="active") Hoạt động
            option(value="inactive") Ngừng hoạt động
            option(value="delete-all") Xóa đã chọn
            option(value="export") Xuất Excel
          input(
            type="text"
            name="ids"
            value=""
            class="form-control d-none"
          )
          button(type="submit" class="btn btn-outline-secondary") Áp dụng

    .card-body
      .d-flex.align-items-center.mb-3
        +search(keyword)

        form.form-inline.ml-3(id="form-filter-products" action=`${prefixAdmin}/products` method="GET")
          select.form-control.mr-2(id="status")
            option(value="", selected = valueFilterStatus==="") -- Trạng thái --
            option(value="active", selected = valueFilterStatus==="active") Hoạt động
            option(value="inactive", selected = valueFilterStatus==="inactive") Ngừng hoạt động

          select.form-control.mr-2(category-level-1)
            option(value="", selected = valueFilterCategoryLevel1==="") -- Danh mục sách --
            each item in categoryLevel1List
              option(value=item, selected = valueFilterCategoryLevel1===item) #{item}

          div.d-flex.gap-2
            button.btn.btn-outline-secondary.mr-2(button-filter-product) Lọc
            a.btn.btn-outline-secondary(href=`${prefixAdmin}/products`) Quay lại





      // Bảng sản phẩm
      table.table.table-hover.table-bordered.align-middle(check-box-multi)
        thead.thead-light
          tr
            th(scope="col")
              input(type="checkbox" check-box-all)
            th(scope="col") Tên danh mục
            th(scope="col") Vị trí
            th(scope="col") Trạng thái
            th(scope="col") Người tạo

        tbody
          tr
            td(colspan="7" class="text-center text-muted") 
              | Chưa có danh mục nào

      +pagination(pagination)

      form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
        data-page=pagination.currentPage
      )

      form(
        action=""
        method="POST"
        id="form-delete-product"
        data-path=`${prefixAdmin}/products/delete`
        data-page=pagination.currentPage
      )

      form(
        action=""
        method="GET"
        id="form-edit-product"
        data-path=`${prefixAdmin}/products/edit`
      )

      form(
        action=""
        method="GET"
        id="form-detail-product"
        data-path=`${prefixAdmin}/products/detail`
      )

