mixin search(keyword, inforSearch)
  form(form-search style="width: 30%" action=`${prefixAdmin}/${inforSearch}` method="GET")
    div(class="input-group")
      input(
        type="text"
        placeholder="Nhập từ khóa"
        name="keyword"
        value=keyword
        class="form-control"
      )
      div(class="input-group-append")
        button(type="submit" class="btn btn-outline-secondary")
          i(class="bi bi-search")
