mixin bookDetail(book)
  div(class="col-lg-9")
    div(class="row")
      
      // ẢNH SÁCH
      div(class="col-lg-5")
        div(class="product-gallery")
          img(src=book.thumbnail, alt=book.bookName, class="img-main")
          if book.images && book.images.length
            div(class="thumb-list mt-3")
              each imgItem in book.images
                img(src=imgItem, alt="", class="thumb-item")

      // THÔNG TIN SÁCH
      div(class="col-lg-7")
        h3(class="product-title") #{book.bookName}

        if book.publisher
          p(class="publisher") Nhà xuất bản: #{book.publisher}

        div(class="price-row mb-3")
          span(class="price-new") #{book.newPrice}đ
          if book.discountPercent > 0
            span(class="price-old") #{book.price}đ

        // FORM THÊM VÀO GIỎ
        form(action=`/cart/add/${book._id}` method="POST")
          
          // SỐ LƯỢNG
          div(class="qty-line mb-3")
            div(class="qty-box")
              button(type="button", aria-label="minus", class="qty-btn") -
              input(
                type="number",
                name="quantity",
                min="1",
                value="1",
                max=book.stockQuantity,
                data-stock=book.stockQuantity,
                class="qty-input"
              )
              button(type="button", aria-label="plus", class="qty-btn") +

          // NÚT HÀNH ĐỘNG
          div(class="action-row")
            button(type="submit", class="btn btn-success") THÊM VÀO GIỎ
            //- button(type="submit", class="btn btn-primary", name="action", value="buyNow") MUA NGAY
