header(class="main-header")

  // Bên trái
  div(class="sidebar-logo1 mb-0 text-center")
    a(href="/admin/dashboard" class="sidebar-logo-text")
      span(class="logo-green1") Book
      span(class="logo-red1") Store
  ul(class="nav flex-column mb-auto")

  // Bên phải
  div(class="header-right d-flex align-items-center")
  div(class="dropdown user-info")
    a.user-name.dropdown-toggle(
      href="#"
      id="userMenu"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      data-offset="0,17"
    )
      i(class="bi bi-person-circle mr-2")
      | #{user.fullName}

    div(class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu")
      a.dropdown-item(href=`${prefixAdmin}/my-account`)
        i(class="bi bi-person") 
        | Thông tin cá nhân
      a.dropdown-item(href=`${prefixAdmin}/auth/logout`)
        i(class="bi bi-box-arrow-right")
        | Đăng xuất


