nav(class="sidebar d-flex flex-column p-1")
  // Logo
  div(class="sidebar-logo mb-3")
    a(href="/admin/dashboard" class="sidebar-logo-text")
      span(class="logo-green2") Book
      span(class="logo-red2") Store
  ul(class="nav flex-column mb-auto")

    // Tổng quan
    li(class="nav-item mb-1")
      a(href="/admin/dashboard" class=`nav-link pl-2 ${activeMenu === "dashboard" ? "active" : ""}`)
        i(class="fa-solid fa-house")
        span(class="ml-n1") Tổng quan

    // Nhóm: BÀI VIẾT
    li(class="nav-group text-uppercase text-muted small mt-3 mb-2 pl-2") Bài viết
    li
      a(href="/admin/posts" class="nav-link")
        i(class="bi bi-journal-text")
        span Bài viết

    // Nhóm: QUẢN LÝ SÁCH
    li(class="nav-group text-uppercase text-muted small mt-3 mb-2 pl-2") Quản lý sách
    li
      a(href="#submenuBooks" data-toggle="collapse" class=`nav-link d-flex justify-content-between align-items-center ${activeMenu === "books" ? "active" : ""}`)
        span
          i(class="bi bi-book mr-1")
          |  Sách
        i(class="bi bi-chevron-down small")
      ul(id="submenuBooks" class=`collapse list-unstyled pl-4 ${activeMenu === "books" ? "show" : ""}`)
        if(role.permissions.includes("books_create"))
          li
            a(href="/admin/books/create" class=`nav-link ${activeSubMenu === "createBook" ? "active" : ""}`) Thêm sách
        if(role.permissions.includes("books_view"))
          li
            a(href="/admin/books" class=`nav-link ${activeSubMenu === "bookList" ? "active" : ""}`) Danh sách
        if(role.permissions.includes("book-category_view"))
          li
            a(href="/admin/categories" class=`nav-link ${activeSubMenu === "categorieList" ? "active" : ""}`) Danh mục
        if(role.permissions.includes("authors_view"))
          li
            a(href="/admin/authors" class=`nav-link ${activeSubMenu === "authorList" ? "active" : ""}`) Tác giả
        if(role.permissions.includes("cover-types_view"))
          li
            a(href="/admin/cover-types" class=`nav-link ${activeSubMenu === "coverTypeList" ? "active" : ""}`) Loại bìa

    li
      a(href="/admin/orders" class="nav-link")
        i(class="bi bi-bag-check")
        span Đơn hàng

    // Nhóm: KHÁCH HÀNG
    li(class="nav-group text-uppercase text-muted small mt-3 mb-2 pl-2") Khách hàng
    li
      a(href="/admin/customers" class="nav-link")
        i(class="bi bi-people")
        span Khách hàng
    li
      a(href="/admin/comments" class="nav-link")
        i(class="bi bi-chat-dots")
        span Bình luận / Đánh giá

    // Nhóm: CÀI ĐẶT
    li(class="nav-group text-uppercase text-muted small mt-3 mb-2 pl-2") Cài đặt
      a(href="/admin/settings" class=`nav-link pl-0 ${activeMenu === "settings" ? "active" : ""}`)
        i(class="bi bi-gear")
        span Cài đặt chung
